@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-upload-page {
  border-top: $divider;

  &__title {
    padding: $mobile-padding;
    margin: 1.5rem 0;

    @include tablet {
      padding: $tablet-padding;
    }

    @include desktop {
      padding: $desktop-padding;
    }
  }
}
