@use "../../styles/partials/variables" as *;
@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/type-kit" as *;

.input {
  font-family: inherit;
  background-color: $secondary-light;
  border: 2px solid $secondary-medium;
  padding: 0.75rem;
  font-size: 1rem;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  resize: none;

  &:focus {
    outline: none;
    border: 2px solid $brainflix-blue;
  }

  &--error {
    border: 2px solid #d22d2d;
  }
}
