@use "../../styles/partials/variables" as *;
@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/type-kit" as *;

.button {
  height: 3.125rem;
  width: 100%;
  border-radius: 4px;
  background-color: $brainflix-blue;
  color: $primary-light;
  border: none;
  padding: 0 0.75rem;
  text-align: center;
  @include mobile-labels-buttons;
  @include flex-row(flex-start, center, 0.5rem);

  &__icon {
    height: 1.5625rem;
    width: 1.5625rem;
  }

  &__text {
    flex-grow: 1;
    line-height: 0.9375rem;
  }

  &:hover {
    background-color: $brainflix-dark-blue;
    cursor: pointer;
  }
}
