@use "../../styles/partials/variables" as *;
@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/type-kit" as *;

.button {
  height: 3.125rem;
  width: 100%;
  border-radius: 4px;
  background-color: $brainflix-blue;
  color: $primary-light;
  border: none;
  padding: 0 0.75rem;
  @include mobile-labels-buttons;
  background-position: 0.75rem 0.875rem;
  background-repeat: no-repeat;

  &:hover {
    background-color: $brainflix-dark-blue;
    cursor: pointer;
  }
}
