@use "./variables" as *;
@use "./type-kit" as *;
@use "./flexbox-kit" as *;

// Media Queries
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Background Images
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
