@use "./variables" as *;
@use "./type-kit" as *;
@use "./flexbox-kit" as *;

// Media Queries
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Background Images
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Inputs
@mixin input {
  height: 3.125rem;
  font-family: inherit;
  background-color: $secondary-light;
  border: 2px solid $secondary-medium;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  resize: none;

  &::placeholder {
    color: $primary-dark;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &:focus {
    outline: none;
    border: 2px solid $brainflix-blue;
  }

  &--error {
    border: 2px solid #d22d2d;
  }
}

// Buttons
@mixin button {
  height: 3.125rem;
  width: 100%;
  border-radius: 4px;
  background-color: $brainflix-blue;
  color: $primary-light;
  border: none;
  padding: 0 0.75rem;
  @include mobile-labels-buttons;
  background-position: 0.75rem 0.875rem;
  background-repeat: no-repeat;
  @include flex-center;

  @include tablet {
    height: 2.8125rem;
    width: 12.5rem;
    background-position: 0.75rem 0.6875rem;
    @include tablet-labels-buttons;
  }

  &:hover {
    background-color: $brainflix-dark-blue;
    cursor: pointer;
  }
}
