// Font Stack
$font-stack: "Avenir Next", sans-serif;

// Brand Colors
$brainflix-blue: #0095ff;
$brainflix-dark-blue: #0065ad;

// Primary Colors
$primary-dark: #323232;
$primary-medium: #afafaf;
$primary-light: #fff;

// Secondary Colors
$secondary-dark: #000;
$secondary-medium: #e1e1e1;
$secondary-light: #fafafa;

// Breakpoints
$tablet: 768px;
$desktop: 1280px;

// Divider
$divider: 1.5px solid $secondary-medium;
