@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/type-kit" as *;

.upload-success-popup {
  width: 70vw;
  max-width: 29.375rem;
  max-height: 12.5rem;
  border-radius: 4px;
  background-color: #fff;
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem;

  &__title {
    @include mobile-subheader;
    width: 100%;
    text-align: center;
  }

  &__link {
    @include button;
  }

  &__screen {
    content: "";
    background-color: $primary-dark;
    opacity: 30%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
  }
}
