@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/flexbox-kit" as *;

.loading-screen {
  @include flex-center;

  &__title {
    color: $secondary-medium;
    font-size: 2rem;
    font-weight: 600;
    padding: 4rem 0;
  }
}
