@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  @include flex-row(space-between, flex-start, 1rem);
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: $divider;
  @include tablet {
    padding-top: 1.5rem;
  }

  &:last-child {
    @include desktop {
      border-bottom: none;
    }
  }

  &__content {
    flex-grow: 1;
    @include flex-row(space-between, center, 0.25rem);
    flex-wrap: wrap;

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__description {
    width: 100%;
  }

  &__timestamp,
  &__like-count {
    color: $primary-medium;
  }

  &__icon-container {
    width: 100%;
    text-align: end;
    @include flex-row(end, center, 0.5rem);
  }

  &__icon {
    color: $primary-medium;
    padding: 0.25rem;

    &--liked {
      color: $brainflix-blue;
    }

    &:active {
      cursor: pointer;
    }

    @include desktop {
      &:hover {
        cursor: pointer;
      }
    }

    &:active {
      color: $brainflix-blue;
    }
  }
}
