@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search-form {
  position: relative;
  flex-grow: 1;
  @include flex-row(flex-end, center);

  &__search-result {
    position: absolute;
    border-radius: 4px;
    top: 3.125rem;
    background-color: $primary-light;
    border: 1px solid $secondary-medium;
    padding: 0.5rem;
    width: 100%;
    z-index: 2;
    @include flex-column(center, start);

    @include tablet {
      max-width: 17.5rem;
      top: 2.8125rem;
    }
  }

  &__suggestion {
    padding: 0.25rem;
    border-radius: 4px;
    width: 100%;

    @include desktop {
      &:hover {
        background-color: $secondary-medium;
      }
    }

    &:active {
      background-color: $secondary-medium;
    }
  }

  &__search-icon {
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    left: 0.75rem;
    top: 0.875rem;
  }

  &__input {
    padding-left: 2.5rem !important;
    width: 100%;
    margin: 0;
    @include input;
    & {
      background-image: url("../../assets/images/icons/search.svg");
      background-position: 0.75rem 0.875rem;
      background-repeat: no-repeat;
    }

    @include tablet {
      height: 2.8125rem;
      max-width: 17.5rem;
    }
  }
}
