@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-form {
  @include flex-row(center, center, 1rem);
  flex-wrap: wrap;
  padding: 1rem 0;
  border-bottom: 1.5px solid $secondary-medium;

  @include desktop {
    padding-right: 1.5rem;
  }

  &__avatar {
    object-position: 20%;
    position: relative;
    bottom: 3.625rem;

    @include tablet {
      bottom: 0;
      top: 0.75rem;
    }
  }

  &__input-wrapper {
    flex-grow: 1;
    @include flex-column(center, flex-start);

    @include tablet {
      @include flex-row(center, center);
      flex-wrap: wrap;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 1rem;
    @include input;

    &--big {
      & {
        height: 7.5rem;
      }
    }

    @include tablet {
      height: 2.8125rem;
      margin-bottom: 0;
      width: auto;
      flex-grow: 1;
      margin-right: 1.25rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__label {
    @include mobile-labels-buttons;
    font-weight: 600;
    color: $primary-medium;
    margin-bottom: 0.25rem;

    @include tablet {
      width: 100%;
      @include tablet-labels-buttons;
    }
  }

  &__button {
    background-image: url(../../assets/images/icons/add_comment.svg);
    @include button;
  }
}
