@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
  @include flex-column(center, center);
  flex-wrap: wrap;
  padding: 0 4vw;

  @include tablet {
    width: 100%;
    @include flex-row(space-between, center);
    flex-wrap: nowrap;
    padding: 0 5vw;
  }

  &__content {
    @include flex-row(center, center, 1rem);
    padding: 1rem 0;
    flex-wrap: wrap;
    width: 100%;

    @include tablet {
      gap: 1.5rem;
      flex-wrap: nowrap;
      width: 70%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__logo {
    min-width: 7.5rem;
    max-width: 11.5625rem;
    margin-top: 1rem;
    line-height: 1;
    width: 100vw;

    @include tablet {
      max-width: 8.125rem;
      margin-top: 0;
    }
  }

  &__avatar {
    object-position: 20%;

    @include tablet {
      order: 2;
    }
  }

  &__upload {
    background-image: url(../../assets/images/icons/upload.svg);
    @include button;
  }
}
