@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/mixins" as *;

.video-bank {
  padding: $mobile-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    width: 50%;
    padding: $tablet-padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include desktop {
    width: 35%;
    position: absolute;
    border-left: $divider;
    top: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    @include mobile-labels-buttons;
    color: $primary-medium;

    @include tablet {
      @include tablet-labels-buttons;
    }

    @include desktop {
      padding-left: 1.5rem;
    }
  }
}

.video-list {
  @include flex-column(center, center, 1rem);
  padding: 1rem 0;
  list-style-type: none;

  @include desktop {
    gap: 0;
    padding-top: 0;
  }
}
