@use "../../styles/partials/flexbox-kit" as *;

.video {
  @include flex-row(center, stretch, 1rem);

  &__info-wrapper {
    flex-grow: 1;
    @include flex-column(space-between, flex-start);
  }

  &__image {
    border-radius: 4px;
    width: 35%;
    height: 100%;
    object-fit: cover;
  }
}
