@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  @include flex-row(center, stretch, 1rem);

  @include desktop {
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 0;

    &:hover {
      background-color: $secondary-light;
      cursor: pointer;
    }
  }

  &__info-wrapper {
    flex-grow: 1;
    @include flex-column(space-between, flex-start);

    @include desktop {
      padding-right: 10vw;
    }
  }

  &__image {
    border-radius: 4px;
    width: 35%;
    height: 100%;
    object-fit: cover;

    @include desktop {
      width: 25%;
    }
  }
}
