@use "../../styles/partials/flexbox-kit" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/variables" as *;

.video-upload-form {
  @include flex-column(center, flex-start);
  margin: $mobile-padding;

  @include tablet {
    @include flex-row(flex-start, flex-start);
    flex-wrap: wrap;
    margin: $tablet-padding;
    padding-top: 2rem;
    border-top: $divider;
  }

  @include desktop {
    margin: $desktop-padding;
    padding-top: 1.5rem;
    @include flex-row(space-between, flex-start);
  }

  &__input-wrapper {
    width: 100%;

    @include desktop {
      width: 55%;
      flex-grow: 1;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 1.5rem;
    @include input;

    &--error {
      border: 2px solid #d22d2d;
    }

    &--big {
      & {
        height: 7.5rem;
        margin-bottom: 1.15rem;
      }
    }
  }

  &__error-wrapper {
    position: relative;
  }

  &__error-message {
    color: #d22d2d;
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.65rem;

    @include tablet {
      bottom: 0.5rem;
    }
  }

  &__label {
    @include mobile-labels-buttons;
    color: $primary-medium;
    display: inline-block;
    margin-bottom: 0.5rem;

    @include tablet {
      @include tablet-labels-buttons;
    }

    @include desktop {
      margin-bottom: 0.25rem;
    }
  }

  &__button-wrapper {
    width: 100%;
    margin-top: 0.5rem;
    @include flex-center-column;
    gap: 2rem;
    margin-bottom: 2rem;

    @include tablet {
      @include flex-row(flex-end, center, 3rem);
      padding: 2rem 0;
      border-top: $divider;
    }

    @include desktop {
      padding: 1.5rem 0;
    }
  }

  &__button {
    background-image: url(../../assets/images/icons/publish.svg);
    @include button;

    @include tablet {
      order: 2;
    }
  }

  &__cancel {
    @include button;
    & {
      color: $brainflix-blue;
      background-color: $primary-light;
    }

    &:hover,
    &:active {
      color: $brainflix-dark-blue;
      background-color: $primary-light;
    }
  }

  &__thumbnail {
    object-fit: cover;
    border-radius: 4px;
    aspect-ratio: 16 / 9;
    width: 100%;

    @include tablet {
      min-height: 11.75rem;
      min-width: 22.125rem;
    }

    @include desktop {
      height: 13.6875rem;
    }
  }

  &__image-input-wrapper {
    margin-bottom: 1.5rem;
    width: 100%;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 25.75rem;
      flex-shrink: 1;
      margin-right: 1rem;
    }
  }
}
